@{
    ViewData["Title"] = "Inicio";
}
<section id="formulario">
    <div class="container">
        <div class="row text-center py-4 my-4">
            <h2>UNIVERSIDAD ESTATAL A DISTANCIA</h2>
            <h2>VICERRECTORÍA ACADÉMICA</h2>
            <h2>ESCUELA DE CIENCIAS EXACTAS Y NATURALES</h2>
            <h2>INGENIERÍA INFORMÁTICA</h2>
            <h2>CÁTEDRA DESARROLLO DE SOFTWARE</h2>
        </div>
        <div class="row text-center py-2">
            <h3 class="fw-bold">Tarea #1</h3>
            <h3>Instrumento de evaluación de la Universidad Estatal a Distancia</h3>
        </div>
        <div class="row text-center pt-2">
            <h4><span class="fw-bold">Nombre del curso:</span> Programación avanzada en web - 03101</h4>
            <h4><span class="fw-bold">Nombre del tutor:</span> Norberth Brunner Agüero</h4>
        </div>
        <div class="row text-center py-4">
            <h4><span class="fw-bold">Nombre completo:</span> Daniel Guzmán Chaves</h4>
            <h4><span class="fw-bold">Número de cédula:</span> 1-1583-0241</h4>
        </div>
        <div class="row text-center py-2 fw-bold">
            <h5>Centro Universitario de Alajuela</h5>
            <h5>Semana 3: 03 de octubre – 09 octubre</h5>
        </div>
    </div>
</section>