@{
    ViewData["Title"] = "Registro de nueva herramienta";
}

@section Scripts {
    <script src="~/js/prestamo_herramientas.js" asp-append-version="true"></script>
}

<section id="formulario">
    <div class="container">
        <legend class="my-4">Prestar herramienta</legend>
        <section>
            <div class="row mb-3">
                <div class="row">
                    <div class="col-sm">
                        <label class="form-label" for="Identificacion">Identificación del
                            colaborador</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="Identificacion" id="Identificacion">
                        <div class="invalid-feedback" id="error_id">
                            La identificación es requerida
                        </div>
                        <div class="invalid-feedback" id="error_busqueda_colaborador">
                            <p>No se ha encontrado ningun colaborador <span class="fw-bolder">activo</span> con esta
                                identificacion</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary w-100" type="submit" id="buscar_colaborador">
                            Buscar colaborador <i class="fa-solid fa-magnifying-glass px-4"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section id="datos-colaborador" class="row pb-4 mb-3" style="display: none;">
            <div class="row">
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="DatosColaborador" id="DatosColaborador" disabled
                        readonly>
                </div>
            </div>
        </section>
        <section>
            <div class="row mb-3">
                <div class="row">
                    <div class="col-sm">
                        <label class="form-label" for="Filtro">Código o nombre de la herramienta:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="Filtro" id="Filtro" required="">
                        <div class="invalid-feedback" id="error_filtro">
                            El criterio de búsqueda es requerido
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary w-100" type="submit" id="buscar_herramienta">
                            Buscar herramienta <i class="fa-solid fa-magnifying-glass px-4"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row row-cols-sm-2 pt-4">
                <div class="col-sm-2">
                    <label class="form-label" for="fecha_devolucion">Fecha de devolución</label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" type="date" name="fecha_devolucion" id="fecha_devolucion"
                        required="true" />
                </div>
                <div class="invalid-feedback" id="error_fecha">
                    Por favor seleccione la fecha devolción antes de continuar
                </div>
            </div>
        </section>

        <div class="pt-1 pb-1">
            <hr class="dark-gradient-hr">
        </div>
        <section class="my-2 py-2">
            <legend class="py-4">Listado de herramientas</legend>
            <section id="tabla_resultados" class="mt-4">
                <div class="container">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Condición</th>
                                    <th>Colaborador</th>
                                    <th>Fecha de devolción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="result-body">
                            </tbody>
                        </table>
                    </div>
                    <div class="invalid-feedback" id="error_seleccion">
                        <div class="d-flex justify-content-center my-4">
                            <p id="error_seleccion_msg"></p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <div class="pt-4">
            <hr class="dark-gradient-hr">
        </div>
        <section class="my-2 py-2">
            <legend class="py-4">Herramientas seleccionadas</legend>
            <section id="tabla_seleccion" class="mt-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>Fecha de devolción</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="seleccion-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <div class="invalid-feedback" id="error_formulario">
            <div class="d-flex justify-content-center my-4">
                <p id="error_formulario_msg"></p>
            </div>
        </div>
        <div class="valid-feedback" id="exito_formulario">
            <div class="d-flex justify-content-center my-4">
                El préstamo de las herramientas se ha completado con éxito
            </div>
        </div>
        <div class="row my-3 py-3">
            <div class="col-sm-6">
                <button class="btn btn-primary w-100" type="submit" id="enviar">
                    Guardar <i class="fa-solid fa-paper-plane px-4"></i>
                </button>
            </div>
        </div>
    </div>
</section>